<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/adminCss/pintuer.css">
<link rel="stylesheet" href="/css/adminCss/admin.css">
<script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增添试题</strong></div>
  <div class="body-content">
    <form class="form-x"  id="form1" enctype="multipart/form-data",action="javascript:" >
      <!--试题描述-->
      <div class="form-group">
        <div class="label">
          <label>试题描述：</label>
        </div>
        <div class="field">
          <textarea  data-validate="required:请输入试题描述" class="input" name="con" style=" height:90px;"></textarea>
          <div class="tips"></div>
        </div>
      </div>



       <!--类型选择-->
      <div class="form-group">
        <div class="label">
          <label>类型选择：</label>
        </div>
        <select  style="padding:5px 15px; border:1px solid #ddd;" name="type" class="types">
          <%for(var i=0; i< data.length;i++){%>
          <option value="<%=data[i].id%>"><%=data[i].name%></option>
          <%}%>
        </select>
      </div>



      <!--边框 <input id="w1" type="checkbox" name="stage" value="1"/>-->
      <!--浮动<input  id="w2" type="checkbox" name="stage" value="2"/>-->
      <!--定位<input  id="w3" type="checkbox" name="stage" value="3"/>-->

      <div class="form-group">
        <div class="label">
          <label>阶段选择：</label>
        </div>
        <%for(var i=0;i< data1.length;i++){%>
        <div style="width:10%;padding-top:8px;float:left" attr="/admin/Stage/<%=data1[i].id%>"   >
          <input  type="button" class="button " value="<%=data1[i].name%>">
        </div>
        <%}%>
      </div>


      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field" style="padding-top:8px;float:left" id="stageOpt">
        </div>
      </div>



      <input type="hidden" value="0" name="del" class="del">
      <!--创建-->
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <input  type="button" class="button  bg-main icon-check-square-o" value="创建">
        </div>
      </div>
    </form>
  </div>
</div>






<!--添加试题选项-->
<div class="panel admin-panel" style="display:none" >
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加试题选项</strong></div>
  <div class="body-content">
    <form class="form-x"   id="form2">

      <input type="hidden" value="" name="q_id" class="qid">
      <input type="hidden" value="0" name="del" class="del">
      <div class="padding" style="width:15%;">
        <button type="button" class="button border-yellow"><span class="icon-plus-square-o"></span> 增加选项</button>
      </div>

      <div class="padding " style="width:15%;">
        <button type="button" class="button border-yellow"><span class="icon-plus-square-o"></span>减少选项</button>
      </div>
      <div class="form-group fille">

      </div>
    </form>
  </div>
</div>





<!--添加试题解析-->
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加试题解析</strong></div>
  <div class="body-content">
    <form class="form-x" id="form4">

      <input type="hidden" value="" name="q_id" class="qid">
      <input type="hidden" value="0" name="del" class="del">
      <div class="form-group">
        <div class="label">
          <label>试题解析：</label>
        </div>
        <div class="field">
          <textarea  data-validate="required:请输入试题描述" class="input" name="acon" style=" height:90px;"></textarea>
          <div class="tips"></div>
        </div>
      </div>
    </form>
  </div>
</div>




<!--添加试题答案-->
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加试题答案</strong></div>
  <div class="body-content">
    <form class="form-x" id="form3">

      <input type="hidden" value="" name="q_id" class="qid">
      <input type="hidden" value="0" name="del" class="del">
      <div class="form-group">
        <div class="label">
          <label>试题答案：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="correct" data-validate="required:请输入试题答案" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o"    type="submit">完成</button>
        </div>
      </div>
    </form>
  </div>
</div>





</body>

<script>
  $(function(){
    var num=0;
    $(".padding").eq(0).click(function(){
      num++;
      var sql=$('<div class="label">选项'+num+'<label></label></div><div class="field "><input type="text" class="input" name="content" value="" required /></div>');
      $(sql).appendTo($(".fille"));
    });


    $(".padding").eq(1).click(function(){
      if($(".fille .label:last").length!=0){
        num--;
        $(".fille .label:last").remove();
        $(".fille .field:last").remove();
      }else{
        alert("请添加选项！！");
      }

    })







//    试题创建的ajax
    $(".bg-main").eq(0).one("click",function(){
      var data=new FormData($("#form1")[0]);
      $.ajax({
        url:"/admin/addQue",
        type:"post",
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        data:data,
        success:function(e){
            if(e){
              $("input[name=q_id]").val(e);
              if($(".types").val()=="1"||$(".types").val()=="2"){
                $(".panel").eq(1).css("display","block");
              }
              $(".bg-main").eq(0).attr("disabled","disabled");
            }
         }
      })
    });




//   试题其余的ajax
    $(".bg-main").eq(1).click(function(){
      if($(".types").val()=="1"||$(".types").val()=="2"){
        new Promise(function(reslove,reject){
          var data=new FormData($("#form2")[0]);
          $.ajax({
            url:"/admin/addOption",
            type:"post",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            data:data,
            success:function(e){
              reslove();
            }
          })
        }).then(function(){
            return new Promise(function(reslove,reject){
              var data=new FormData($("#form4")[0]);
              $.ajax({
                url:"/admin/addAnalysis",
                type:"post",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data:data,
                success:function(e){
                  if(e){
                    reslove();
                  }
                }
              })
            })
        }).then(function(){
          var data=new FormData($("#form3")[0]);
          $.ajax({
            url:"/admin/addSolution",
            type:"post",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            data:data,
            success:function(e){
              if(e){
                alert("添加试题成功!!!");
              }
            }
          })
        });

      }else{
        new Promise(function(reslove,reject){
          var data=new FormData($("#form4")[0]);
          $.ajax({
            url:"/admin/addAnalysis",
            type:"post",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            data:data,
            success:function(e){
              if(e){
                reslove();
              }
            }
          })
        }).then(function(){
          var data=new FormData($("#form3")[0]);
          $.ajax({
            url:"/admin/addSolution",
            type:"post",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            data:data,
            success:function(e){
              if(e){
                alert("添加试题成功!!!");
              }
            }
          })
        });
      }
    });


      var flag=false;
      $(".admin-panel").delegate("div[attr]","click",function(){
        $.ajax({
          url:$(this).attr("attr"),
          type:"post",
          success:function(data){
            if(flag){
              $("#stageOpt").html("");
            }
            console.log(data);
            data.forEach(function(c){
              $('<span>'+ c.name+'</span><input  type="checkbox" name="stage" value="'+ c.id+'"/>').appendTo("#stageOpt");
            flag=true;
            })
          }
        })
      })




  });
</script>
</html>