<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>
    <link rel="stylesheet" href="css/adminCss/pintuer.css">
    <link rel="stylesheet" href="css/adminCss/admin.css">
    <script src="js/adminJs/jquery.js"></script>
    <script src="js/adminJs/pintuer.js"></script>
    <script src="js/adminJs/adminlogin.js"></script>
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form>
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>优逸客考试系统</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="name" placeholder="登录账号" data-validate="required:请填写账号" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" name="pass" placeholder="登录密码" data-validate="required:请填写密码" />
                            <span class="icon icon-key margin-small"></span>
                        </div>
                    </div>
                </div>
                <div class="field-group" >
                    <select name="num" class="input" style="width:85%;margin:auto">
                        <option value="">请选择分类</option>
                        <option value="0">学生</option>
                        <option value="1">教师</option>
                        <option value="2">管理员</option>
                    </select>
                </div>
                <div style="padding:30px;"><input type="button" id="login" class="button button-block bg-main text-big input-big" value="登录"></div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#login").click(function(){
        var name=$("input[name=name]").val();
        var pass=$("input[name=pass]").val();
        var num=$("select[name=num]").val();
        if(name){
            if(pass){
                if(num){
                    alert(1);
                    $.ajax({
                        url:"/login/check",
                        type:"post",
                        data:{names:name,pass:pass,num:num},
                        success:function(e){
                            alert(e);
                            if(e=="admin"){
                                alert("欢迎光临管理员");
                                window.location.href="/admin"
                            }else if(e=="teacher"){
                                alert("欢迎光临老师");
                                window.location.href="/teacher"
                            }else if(e=="student"){
                                alert("欢迎光临同学");
                                window.location.href="/student"
                            }else{
                                alert("信息错误")
                            }
                        }
                    })
                }
            }
        }
    });
</script>
</body>
</html>