<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>主页</title>
    <link rel="stylesheet" href="/css/indexCss/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/css/indexCss/mui.min.css">
    <link rel="stylesheet" href="/css/indexCss/s_style.css">
    <script src="/js/indexJs/jquery.js"></script>
    <script src="/js/indexJs/swiper-3.3.1.min.js"></script>
    <script src="/js/indexJs/index.js"></script>
</head>
<body style="background-color: #ffffff;">


<!--顶部-->
<div class="header">
    <a href="./exam.html" class="back"></a>
    HTML在线考试
</div>
<div class="exam_online exam_test">
    <div class="exam">
        <h2>共<%=data1[0].length%>题，每题2分，总分<%=data1[0].length*2%>分</h2>



        <%var num=1%>
        <% var arr=data1.split(";")%>
        <%for(var i=0;i< data.length;i++){%>
        <%for(var j=0;j< arr.length;j++){%>
        <%if(data[i].id==arr[j]){%>

        <div class="test" style="height: auto;">
            <div class="title"><%=num++%>.<%=data[i].about%></div>
            <div class="option" attr="<%=data[i].id%>">

            </div>
        </div>
        <%}%>
        <%}%>
        <%}%>




    </div>

    <!--底部-->
    <div class="submit">
        提交试卷
    </div>
</div>
</body>
<script>
    $(function(){
        var flag=true;
        $(".test .title").on("click",function(){
            var id=$(this).next(".option").attr("attr");
            var that=$(this);
            $.ajax({
                url:"/student/option/"+id+"",
                type:"post",
                success:function(data){
                    if(flag){
                        data.forEach(function(v){
                            $('<a href="javascript:;"><span class="icon">'+ v.mark+'</span>'+ v.con+'</a>').appendTo(that.next(".option"));
                        })
                        flag=false;
                    }

                }
            })
        })
    })
</script>
</html>