<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业</title>
    <link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/css/indexCss/mui.min.css">
    <link rel="stylesheet" href="/css/indexCss/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper-3.3.1.min.js"></script>
    <script src="/js/indexJs/index.js"></script>
</head>
<body>

<!--顶部-->
<div class="header">布置作业</div>
<!--作业开始-->
<div class="task arrange_task">
    <div class="tests">
        <div class="date"></div>
        <%for(var i=0;i < data.length;i++){%>
        <div class="con">
            <a href="/teacher/Option/<%=data[i].id%>">
                <%=data[i].name%>
                <i></i>
            </a>
        </div>
        <%}%>
    </div>
</div>
<!--作业结束-->
<!--底部-->
<div class="footer">
    <a class="catalog" href="/teacher">
        <div class="icon">
            <img src="/img/indexImg/home_icon.png" alt="加载失败">
        </div>
        <div class="title checked">作业</div>
    </a>
    <a class="catalog" href="/teacher/task">
        <div class="icon">
            <img src="/img/indexImg/exam_icon.png" alt="加载失败">
        </div>
        <div class="title">布置作业</div>
    </a>
    <a class="catalog" href="./my.html">
        <div class="icon">
            <img src="/img/indexImg/my_icon.png" alt="加载失败">
        </div>
        <div class="title">我</div>
    </a>
</div>
</body>
</html>