<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识点</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>

<!--顶部-->
<div class="header">
    <a href="javascript:;" class="back"></a>
    html知识点
</div>
<!--作业开始-->
<div class="task arrange_task">
    <div class="tests">
        <div class="date"></div>
        <div class="con">
            <a href="./know_test.html">
                img标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                无序列表、有序列表
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                table标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                form标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                select标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                textarea标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                iframe标签
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="./know_test.html">
                frameset标签
                <i></i>
            </a>
        </div>
    </div>
</div>
<!--作业结束-->
</body>
</html>