<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>


<!--顶部-->
<div class="header">我的</div>

<!--内容区域-->
<div class="my">
    <div class="my_info">
        <i style="background:url('./images/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">个人信息</span>
        <a href="./user_info.html"></a>
    </div>
    <div class="my_info">
        <i style="background:url('./images/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">修改密码</span>
        <a href="./user_psw.html"></a>
    </div>
    <div class="my_info">
        <i style="background:url('./images/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">错题整理</span>
        <a href="./exam_false.html"></a>
    </div>
    <div class="my_info">
        <i style="background:url('./images/exam_icon2.png') center center no-repeat;background-size:100%;"></i>
        <span class="con">练习历史</span>
        <a href="./history.html"></a>
    </div>
</div>

<!--底部-->
<div class="footer">
    <a class="catalog" href="./homepage.html">
        <div class="icon">
            <img src="./images/home_icon2.png" alt="加载失败">
        </div>
        <div class="title">主页</div>
    </a>
    <a class="catalog" href="./exam.html">
        <div class="icon">
            <img src="./images/exam_icon.png" alt="加载失败">
        </div>
        <div class="title">考试</div>
    </a>
    <a class="catalog" href="#">
        <div class="icon">
            <img src="./images/my_icon2.png" alt="加载失败">
        </div>
        <div class="title checked">我</div>
    </a>
</div>

</body>
</html>