<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生完成情况</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>
<!--顶部-->
<div class="header">
    <a href="./task_report.html" class="back"></a>
    学生完成情况</div>
<!--作业开始-->
<div class="stu_pro">
    <div class="tab">
        <div class="box box1">已完成</div>
        <div class="box">未完成</div>
    </div>
    <div class="tab_con">
        <div class="stu">杨帆 <span>100分</span> <a href="my.html"></a></div>
        <div class="stu">杨帆 <span>80分</span> <a href="my.html"></a></div>
    </div>
</div>
<!--作业结束-->

</body>
</html>