<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>

<!--顶部-->
<div class="header">
    <a href="./exam.html" class="back"></a>
    作业草稿
</div>
<!--作业开始-->
<div class="task task_draft">
    <div class="tests">
        <div class="date"></div>
        <div class="con">
            <a href="#">
                <div class="title">1.(单选题) img标签的使用（）</div>
                <div class="option">
                    <div class="opt">A.选项A</div>
                    <div class="opt">B.选项B</div>
                    <div class="opt">C.选项C</div>
                    <div class="opt">D.选项D</div>
                </div>
                <div class="choice">
                    <i></i>
                </div>
            </a>
        </div>
        <div class="con">
            <a href="#">
                <div class="title">1.(单选题) img标签的使用（）</div>
                <div class="option">
                    <div class="opt">A.选项A</div>
                    <div class="opt">B.选项B</div>
                    <div class="opt">C.选项C</div>
                    <div class="opt">D.选项D</div>
                </div>
                <div class="choice">
                    <i class="active"></i>
                </div>
            </a>
        </div>
        <div class="con">
            <a href="#">
                <div class="title">1.(单选题) img标签的使用（）</div>
                <div class="option">
                    <div class="opt">A.选项A</div>
                    <div class="opt">B.选项B</div>
                    <div class="opt">C.选项C</div>
                    <div class="opt">D.选项D</div>
                </div>
                <div class="choice">
                    <i class="active"></i>
                </div>
            </a>
        </div>
    </div>
</div>
<!--作业结束-->
<!--底部-->
<div class="footer">
    <a href="#" class="choice">已选项目(0)</a>
</div>
</body>
</html>