<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业报告</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>


<!--顶部-->
<div class="header">
    <a href="./exam.html" class="back"></a>
    作业报告
</div>
<!--作业报告-->
<div class="task task_report">
    <div class="tests">
        <div class="con task_title">
            <div class="title">2月6日作业</div>
            <div class="class">WUIF1607-1班</div>
        </div>
        <div class="con">
            <a href="#">
                作业详情
                <span>50题</span>
                <i></i>
            </a>
        </div>
        <div class="con">
            <a href="#">
                完成情况
                <span>49/50</span>
                <i></i>
            </a>
        </div>
    </div>

</div>


</body>
</html>