<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业</title>
    <link rel="stylesheet" href="/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/css/indexCss/mui.min.css">
    <link rel="stylesheet" href="/css/indexCss/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper-3.3.1.min.js"></script>
    <script src="/js/indexJs/index.js"></script>
</head>
<body>

    <!--顶部-->
    <div class="header">作业</div>
    <!--作业开始-->
    <div class="task">
        <div class="tests">
            <div class="date">本周</div>
            <%for(var i=0;i < data.length;i++){%>
                <div class="con">
                    <a href="/teacher/showQuest/<%=data[i].id%>">
                        <div class="title"><%=mon%>月<%=day%>日作业</div>
                        <div class="title_con"><%=data[i].name%></div>
                        <%if(data[i].c_id!=""){%>
                        <div class="class">data[i].c_id</div>
                        <%}else{%>
                        <div class="class">未指定班级</div>
                        <%}%>
                    </a>
                </div>
            <%}%>



            <div class="con">
                <a href="#">
                    <div class="title">2月6日作业</div>
                    <div class="title_con">JavaScript对象试题</div>
                    <div class="class">WUIF1607-1 <span>已提交39/40</span></div>
                </a>
            </div>
        </div>
    </div>
    <!--作业结束-->
    <!--底部-->
    <div class="footer">
        <a class="catalog" href="/teacher">
            <div class="icon">
                <img src="/img/indexImg/home_icon.png" alt="加载失败">
            </div>
            <div class="title checked">作业</div>
        </a>
        <a class="catalog" href="/teacher/task">
            <div class="icon">
                <img src="/img/indexImg/exam_icon.png" alt="加载失败">
            </div>
            <div class="title">布置作业</div>
        </a>
        <a class="catalog" href="./my.html">
            <div class="icon">
                <img src="/img/indexImg/my_icon.png" alt="加载失败">
            </div>
            <div class="title">我</div>
        </a>
    </div>
</body>
</html>