<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业</title>
    <link rel="stylesheet" href="./css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="./css/mui.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/swiper-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>
<!--顶部-->
<div class="header">
    <a href="./test_save.html" class="back"></a>
    发布作业</div>
<!--作业开始-->
<div class="task test_pub">
    <div class="tests">
        <div class="date"></div>
        <div class="con">
            <a href="./task_draft.html">
                <div class="title">作业名称<span>js数组作业</span></div>
            </a>
        </div>
        <div class="date">发布到</div>
        <div class="con">
            <a href="./task_report.html">
                <div class="title banji">WUIF1607<i></i></div>
            </a>
        </div>
        <div class="con">
            <a href="./task_report.html">
                <div class="title banji">WUIF1607-1<i></i></div>
            </a>
        </div>
        <a href="#" class="pub">发布作业</a>
    </div>
</div>
<!--作业结束-->

</body>
</html>